PORT=3000
APP_NAME="express-ts-ddd"

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

APP_LOG_LEVEL="debug"

# Cognito UserPool configuration: https://docs.aws.amazon.com/cognito/latest/developerguide/getting-started-with-cognito-user-pools.html

COGNITO_USER_POOL=""
COGNITO_CLIENT_ID=""
